@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    display: flex;
    justify-content: center;
}

.project-button {
    --tw-text-opacity: 1;
    color: rgb(211 218 227 / var(--tw-text-opacity));
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(211 218 227 / var(--tw-border-opacity));
    border-radius: 0.25rem/* 4px */;
    --tw-bg-opacity: 1;
    background-color: rgb(24 48 103 / var(--tw-bg-opacity));
    cursor: pointer;

}

.project-button:hover {
    --tw-text-opacity: 1;
    color: rgb(56 188 248 / var(--tw-text-opacity));

}